<form method="post" action="./login">
    <div class="form-element login-form">
        <div class="input-element">
            <input type="text" name="username" id="username" placeholder="User Name"/>
        </div>
        <div class="input-element">
            <input type="password" name="password" id="password" placeholder="Password"/>
        </div>
        <div class="input-element">
            <input type="submit" name="login" id="login" class="login" value="Login" />
        </div>
    </div>
</form>

<style type="text/css">
    

    .form-element.login-form {
        width: 500px;
        margin: auto;
        border: 2px solid #756A6A;
        box-shadow: 4px 4px 4px gray;
        padding-bottom: 20px;
    }
    .input-element{
        margin: 20px auto 20px;
        width: 350px;
    }
    .login {
        background-color: #4B5C8D;
        height: 40px !important;
    }
    .input-element input {
        width: 100%;
        height: 30px;
        text-align: center;
        font-size: 18px;
        font-family: monospace;
    }

</style>